html, body {
	background-color: #FAFAFA;
	min-width: 16em;
}
ol {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-size: 100%
}
a {
	text-decoration: none;
	padding-right: 1em;
	outline: none;
}
a:hover {
	text-shadow: 0 0 3px red;
}
